
        body {
            position: relative;
        }

        #home {
            padding-top: 50px;
            height: 500px;
            color: rgb(10, 5, 5);
            background-color: rgb(245, 238, 238);;
        }

        #servicos {
            padding-top: 50px;
            height: 500px;
            color:  rgb(10, 5, 5);
            background-color:rgb(245, 238, 238);
        }

        #parceiros {
            padding-top: 50px;
            height: 500px;
            color:  rgb(10, 5, 5);
            background-color: rgb(245, 238, 238);
        }
        #localizacao {
            padding-top: 50px;
            height: 500px;
            color:  rgb(10, 5, 5);
            background-color: rgb(245, 238, 238);
        }

        #contato {
            padding-top: 50px;
            height: 500px;
            color:  rgb(10, 5, 5);
            background-color: rgb(245, 238, 238);
        }

        #rodape {
            text-align: center;
            background-color: rgb(245, 238, 238);
        }
/*fonte persolalizada*/
       .minhas-fontes {      
            font-family: "courier new";

        }
/*link whatsapp*/
 .float {
            right: 25px;
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            background-color: #25d366;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            box-shadow: 2px 2px 3px #999;
            z-index: 100;
        }

        .my-float {
            margin-top: 16px;
        }        


    
