
        body {
            position: relative;
        }

        #home {
            padding-top: 50px;
            height: 500px;
            color: rgb(10, 5, 5);
            background-color: rgb(245, 238, 238);;
        }

        #servicos {
            padding-top: 50px;
            height: 500px;
            color:  rgb(10, 5, 5);
            background-color:rgb(245, 238, 238);
        }

        #parceiros {
            padding-top: 50px;
            height: 500px;
            color:  rgb(10, 5, 5);
            background-color: rgb(245, 238, 238);
        }
        #localizacao {
            padding-top: 50px;
            height: 500px;
            color:  rgb(10, 5, 5);
            background-color: rgb(245, 238, 238);
        }

        #contato {
            padding-top: 50px;
            height: 500px;
            color:  rgb(10, 5, 5);
            background-color: rgb(245, 238, 238);
        }

        #rodape {
            text-align: center;
            background-color: rgb(245, 238, 238);
        }

       .minha-fontes {      
            font-family: "courier";

            }


    
